
<form action="/bookform/add" method="post">
  <label for ="title">Enter the book title</label>
   <div class="form-group">
    <input type="text" name="title">
   </div>
<button type="submit" class="btn btn-info btn-home" name="button">Add</button>
</form>
